.container
  .row
    .col-xs-12.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4
      .login-container
        .flat-form
          #login.form-action.show.animated.bounceInDown
            %center
              =# image_tag('logo_GA-01.png')
            %br

            = bootstrap_form_tag url: dashboard_index_path, method: :get do |f|
              .form-group
                .input-group
                  .input-group-addon
                    %span.glyphicon.glyphicon-usd
                  = f.number_field :wage, placeholder: t('.enter_wage'), autofocus: true, class: 'form-control', hide_label: true, required: true
              .form-group
                .input-group
                  .input-group-addon
                    %span.glyphicon.glyphicon-user
                  = f.select :gender, [["Hombre", :male], ["Mujer", :female]], {include_blank: t('.enter_gender'), hide_label: true, required: true}, { class: "selectpicker" }

              .form-group
                = f.submit 'Calcular', class: 'btn btn-success btn-calculate'
#results
  .container
    .col-sm-6
      %h2 
        = t('.current_system')
      .table-responsive
        %table.table.table-bordered.table-striped
          %tr
            %td
              = t('.minimal_pension_subsidy')
            %td
              = @pension_minima_con_subsidio
          %tr
            %td
              = t('.personal_saves_on_afp')
            %td
              = @pension_segun_ahorros_actual
          %tr
            %td
              = t('.insurance_and_payments_to_afp')
            %td
              = @comisiones_pagadas_a_afp_actual
          %tr
            %td
              = t('.approximate_lasting_years_private')
            %td 
              = @anios_de_pension_a_recibir 
          %tr
            %td
              = t('.approximate_years_goverment_assumption')
            %td
              = @anios_financiaria_estado
          %tr
            %td
              = t('.pension_percentage_without_subsidy')
            %td
              = @porcentaje_respecto_salario_actual
          %tr
            %td
              = t('.average_financial_assumption_by_gov')
            %td
              = @financiamiento_asumido_por_estado_actual
          %tr
            %td
              = t('.approximate_years_goverment_assumption')
            %td
              = @dinero_para_gobierno_actual
    .col-sm-6
      %h2 
        = t('.reform')
      .table-responsive
        %table.table.table-bordered.table-striped
          %tr
            %td
              = t('.approximate_on_mixed_pensions_system')
            %td
              = @pension_aproximada_reforma
          %tr
            %td
              = t('.insurance_and_payments_to_afp')
            %td
              = @comisiones_pagadas_a_afp_reforma
          %tr
            %td
              = t('.pension_percentage_according_to_salary')
            %td
              = @porcentaje_respecto_salario_reforma
          %tr
            %td
              = t('.average_financial_assumption_by_gov_mixed')
            %td
              = @financiamiento_asumido_por_estado_reforma
          %tr
            %td
              = t('.approximate_years_goverment_assumption')
            %td
              = @dinero_para_gobierno_reforma
#canvas-holder
  %canvas{id: "chart-area", width:"500", height:"500"}
